<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.z0nen.slidemenu"> <!-- GCM requires Android SDK version 2.2 (API level 8) or above. -->
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <!-- GCM connects to Internet Services. -->

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->

    <permission
        android:name="app.z0nen.slidemenu.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="app.z0nen.slidemenu.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->

    <uses-permission android:name="android.permission.VIBRATE" />
    -
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fuelwatch_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Register Activity -->

        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Main Activity -->

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>

                <!-- Receives the actual messages. -->

                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <!-- Receives the registration id. -->

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="app.z0nen.slidemenu" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <!-- Sliding Nav menu -->

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="app.z0nen.menu.log_in_screen"
            android:label="@string/title_activity_log_in_screen"></activity>
        <activity
            android:name="app.z0nen.menu.splash_screen"
            android:label="@string/title_activity_splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
